@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #020617;
  color: #e2e8f0;
}

h1, h2, h3, .font-serif {
  font-family: 'Playfair Display', serif;
}